<mat-card style="height: 150%">
  <mat-card-title class="text-center">Usuário</mat-card-title>
  <mat-card-content class="w-100 d-flex justify-content-center">
    <form (ngSubmit)="submit()" [formGroup]="formGroup" class="p-2 vw-100" style="background-color: #ffffff11">
      <mat-checkbox formControlName="isAdmin">Administrador</mat-checkbox>

      <mat-form-field class="w-100">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" type="text">
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>CPF</mat-label>
        <input matInput formControlName="cpf" type="text" mask="000.000.000-00">
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="telefone" type="text">
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" type="text">
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="senha" type="text">
      </mat-form-field>

      <div class="d-flex justify-content-center">
        <button mat-raised-button color="primary" type="submit">{{ getTextButton() }}</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
