<mat-card class="vh-100">
  <mat-card-title class="text-center">Login</mat-card-title>
  <mat-card-content class="w-100 d-flex justify-content-center">
    <form (ngSubmit)="login()" [formGroup]="formGroup" class="p-2" style="background-color: #ffffff11">
      <mat-form-field class="w-100">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="senha" type="password">
      </mat-form-field>
      <div class="d-flex justify-content-center">
      <button mat-raised-button color="primary" type="submit">Entrar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
